body {
	background: #333;
	color: #fff;
}

.navbar {
	border-bottom: #008ed6 3px solid;
	opacity: 0.8;
}

.navbar a {
	color: #fff;
}

#home-section {
	background: url(../img/home.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	min-height: 700px;
}

#home-section .dark-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 700px;
	background: rgba(0, 0, 0, 0.5)
}

#home-section .home-inner {
	padding-top: 150px;
}

#home-section .card-form {
	opacity: 0.8;
}

#home-section .fas {
	color: #008ed6;
	background: #fff; 
	padding: 5px;
	border-radius: 5px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* EXPLORE SECTION */

#explore-section {
	background: #fff;
	color: #000;
}

#explore-section .fas, #share-section .fas {
	background: #333;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
}